.create-event-form {
    max-width: 400px;
    margin: 0 auto;
}

.create-event-form label {
    color: whitesmoke;
}
.create-event-form input {
    background-color: #251E40;
    margin-bottom: 10px;
}
